* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: black;
}

h1 {
  color: #fff;
  margin: 10px;
}

#show-starred-btn {
  border: none;
  background-color: black;
  color: white;
}

#show-starred-btn:hover {
  border: none;
  background-color: white;
  color: black;
}

section {
  width: 100%;
}

#form-section {
  display: flex;
  height: 300px;
  justify-content: center;
}

form {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
  padding: 10px;
  width: 200px;
}

#ideas-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

article {
  padding: 0;
  margin-bottom: 10px;
  padding: 10px 0;
  margin: 10px;

}

img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}


.idea-header {
  background-color: black ;
  display: flex;
  justify-content: space-between;
  max-height: 25px;
  padding: 0;
  width: 100%;
}

.idea-card-title,
.idea-card-body {
  padding: 15px 7px 0;
}

.idea-content {
  background-color: #fff;
  border: 1px solid;
  color: #1f1f3d;
  height: 200px;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  
  #ideas-container {
    grid-template-columns: repeat(1, 1fr);
  }

}